.TodoForm{
    display: block;
    position: sticky;
    bottom:  20px;
    z-index: 100;
    width: 90% ;
    border: none;
    background: #fff;
    box-shadow: 10px 10px 10px #00000041;
    padding: 10px 10px;
    font-size: 12px;
    margin: 12px auto;
    border-radius: 3px;
}

input{
    outline: none;
}
