.TodoForm{
    display: block;
    position: sticky;
    bottom:  20px;
    z-index: 100;
    border: none;
    max-width: 400px;
    background: #fff;
    box-shadow: 10px 10px 10px #00000041;
    padding: 10px 10px;
    font-size: 12px;
    margin: 12px auto;
    border-radius: 3px;
    animation: bounce 1s ease-in-out ;
}

input{
    outline: none;
}


@keyframes bounce{
    0%{
        transform: translateY(1000%);
        opacity: 0;
    }
    75%{     
        transform: translateY(-10%);
        opacity: 0.8;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}