.Button{
    display: inline-block;
    outline: none;
    border: none;
}

.Success{
    background-color: rgb(211, 255, 191);
    border-radius: 4px;
    font-weight: bold;
    padding: 3px 5px;
    color: green;
    text-transform: uppercase;
    margin-right: 5px ;
}

.Danger {
    
    border-radius: 4px;
    padding: 3px 5px;
    font-weight: bold;
    color: #555;
    background-color: #aaa;
    text-transform: uppercase;
}