.Todo{
    background: #fff;
    box-shadow: 1px 1px 1px #00000041;
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}